*{
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFF;
}
html{
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*  header begin*/
.header{
    width: 100%;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 10px 10px 10px 10px ;
    background-color:#fff;
}
nav{
    top: 0;
    text-align: left;
    justify-content: center;
    height:50px;
    width: 100%;
    color: #54B435;
} 
.logo h1{
    color: #54B435;
}
nav .logo{
    font-size: 20px;
    font-weight: bold;
    color: #54B435;
    line-height: 20px;
    padding:20px;
    cursor: pointer;
    text-transform: uppercase;    
}
nav .logo:hover{
    text-decoration: underline;
}
 nav ul{
    float: right;
    margin-right: 150px;
    margin-top: -20px;
}
 nav li{
    list-style: none;
    display: inline-block;
    line-height: 20px;
}
nav a{
    text-decoration: none;
    color: #54B435;
    font-size: 15px;
    padding: 10px 10px;
    transition: 0.5s ease-in-out;
}
nav a:hover{
    color: goldenrod;
    text-decoration-line: underline;    
}  
 nav #icon{
    color: green;
    font-size: 25px;
    line-height: 20px;
    float: right;
    margin-top: -25px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

/* header section begin*/
.main{
    width: 100%;
    height: 100vh;
    font-size: 25px;
    background-position: center;
    background-size: cover;
    position:relative;
    color: #fff;
}
.main img{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.content{
    width: 100%;
    position: relative;
    top: 50%;
    font-size:20px;
    transform: translatey(-50%);
    text-align: center;
}
.button{
    display: inline-block;
    text-decoration: none;
    width: 120px;
    padding: 12px 12px;
    text-align: center;
    margin: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #fff ;
    background: transparent;
    color:#fff;
    position: relative;
    cursor: pointer; 
}
.button:hover{
    border: 1px solid goldenrod;
    background: #54B435;
    transition: 0.4s ease-in-out;
}

/*-----about section begin-----*/
.about{
    margin-top: 50px;
      text-align: center;
      display: flex;
      position: relative;
      background-color: none;
      padding: 10px 10px 10px 100px;

}
.about img{
    border-radius: 250px;
    height: 550px;
}
.row{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    padding: 0px 0px 0px 60px;
}
h2 {
    font: bold;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 25px;
    padding: 50px; 
    margin: 10px 10px;
    font-family: 'Times New Roman', Times, serif;
}

.row-flow{
    display: flex;
    width: fit-content;
    padding: 20px 0 px;
    margin-bottom: 5px;
}
.row-1{
    font-size: 19px;
    justify-content: space-between;
    box-sizing: border-box;
    width: 150px;
    padding: 20px 13px 20px 3px;
    font-family: 'Times New Roman', Times, serif;
}
.row-1 h4{
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    font-style: italic;
}
.row-1 i{
    padding: 10px;
}
/*----section 2 begin ---*/
.section2{
    background-color:none;
    flex-direction: column;
    position: relative;
    padding: 50px;

}
#ourservices .section2-img{
    width: 100px;
    height: 100px;
    display: flex;
    gap: 50px;
    padding: 10px 10px 10px 300px;
}
.section2-img img{
    text-align: center;
    border-radius: 10px;
    height:100px;
    width: 100px;
}
/*=== services section begin===*/
.services{
    text-align: center;
    text-decoration: none;
    justify-content: center;
    padding: 50px;
}
.services h2{
    padding: 20px;
}
.services p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
.flex-1{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}
.sevice-container{
    padding: 30px 70px 30px 70px;
}
.servicebox{
    padding: 15px;
    width: 270px;
    background-color: #54B435;
    align-items: center;
    justify-items: center;
    height: 400px;
}
.servicebox p{
color: #fff;
}
.servicebox img{
    width: 270px;
    height: 200px;
    border-radius: 5px;
    image-rendering: optimizeQuality;
}
.servicebox h6{
    font: bold;
    font-size: 17px;
    color: #fff;

}
.servicebox a{
    font-size: 19px;
    background-color: goldenrod;
    width: 100px;
    padding: 5px 50px 5px 50px ;
    height: 40px;
    text-align: center;
}



/*=====contact section====*/



.contact{
    background-color:#54B435;
    height: 250px;
    width: 100%;

}
.text-center{
    text-align: center;
}
.text-center p{
    color: #fff;
}
.contact-a-btn{
    padding: 50px;
}
.contact-btn{
    margin-top: 300px;
    width: 200px;
    font-weight: lighter;
    padding: 10px;
    color:#fff;
    height: 50px;
    background-color: gold;
    border-radius: 25px;
    text-decoration: none;
}
.contact-btn:hover{
    border: 1px solid #ff7200;
    text-decoration: none;
    background: #ff7200;
    transition: 0.4s ease-in-out;
}
/*------------------------*/


/*----- Affordable dataplan price------*/
.plans h2{
    padding: 150px 0px 50px 0px;
    
}
.flex-2{
    justify-content:center ;
    display: grid;
    grid-gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));

}
.text-cen img{
    border-radius: 50%;

}
.text-cen p{
    padding: 30px;
}
.table-all{
    padding: 30px 0px  25px 0px;
    justify-content: space-between;
}
.text-cen{
    border-radius: 20px;
    background: #54B435;
    color: #fff;
    height: 390px;
    width: 180px;
    font-size: 18px;
    display: grid;
    gap: 20px;
    text-align: center;
    padding: 20px;
}

.text-cen-a{
background-color:goldenrod;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

/*-- Frequently Asked Questions Section ---*/
.faq-list{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.faq-list ul{
    list-style: none;
    text-decoration: none;
}
.faq-list li{
    text-decoration: none;
}
.collapse{
padding: 10px;
border:none;
height: 200px;
width: 800px;
justify-content: center;
background-color:  #54B435;
}
.collapse:hover, .collapse:focus{
background-color: goldenrod;
}
.fade-up{
    text-align: center;
    position: relative;
}
/* --------------------dropdown--------------------------*/
.collapse show{
    display: none;
    position: absolute;
    background-color: #ffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 

}

.collapse show p{
    color: goldenrod;
    padding: 12px 16px;
    display: block;
}
/*.collapse show p:hover{ background-color: blue }*/




/*------for respnsiveness------*/
@media only screen and (min-width: 768px) and (max-width:520px){
    html{
        overflow-x: hidden;
        overflow-y: scroll;
    }



     label .logo{
        font-size: 10px;
        padding-left: 40px;
        display: flex;
    }
    nav ul{
        margin-right: 20px;
    }
    nav a{
        font-size: 15px;
    }

    nav #icon{
        display: flex;
        padding: 30px;
        color: #54B435;
        float: right;
    }
    nav ul{
        position: fixed;
        width: 60%;
        height: 100vh;
        background: #fff;
        top: 79px;
        margin-right: -0;
        right:-100%;
        text-align: center;
        transition: all .5s;

    }
    nav li{
        
        display: block;
        margin: 50px 0;
        line-height: 5px;
    }
    nav a{  
        font-size: 15px;
    }
    nav ul.show{
        right: 10;
    }

    .main{
        width: 100%;
        height: 100vh;
        font-size: 25px;
        background-position: center;
        background-size: cover;
        position:relative;
        color: #fff;
    }

    #home img{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-size: cover;
    }
    .about{
        margin-top: 50px;
        text-align: center;
        display: flex;
        position: relative;
        padding: 10px 10px 10px 60px;
    }
    .about img{
        border-radius: 150px;
        height: 350px;
    }
    .section2{
        flex-direction: column;
        position: relative;
        padding: 20px;
    
    }
    #ourservices .section2-img{
        width: 100px;
        height: 100px;
        display: flex;
        gap: 10px;
    }
    .section2-img img{
        text-align: center;
        border-radius: 10px;
        height:100px;
        width: 100px;
    }
    .services{
        text-align: center;
        text-decoration: none;
        justify-content: center;
        padding: 20px;
    }
    .services h2{
        padding: 10px;
    }
    .services p{
        font-size: 15px;
        font-weight: bold;
        padding: 5px;
    }



}




@media screen and (min-width: 768px){
  :root{
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (max-width: 768px){
  .nav__menu{
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}


@media screen and (min-width: 768px){
  body{
    margin: 0;
  }

  nav{
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list{
    display: flex;
    padding-top: 0;
  }
  /*.nav__item{
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }*/
  .nav__toggle{
    display: none;
    color: green;
  }
 
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  
}